@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0.1rem 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: darkslategray;
}

li {
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.navlink {
  padding: 9px 25px;
  border-radius: 10px;
  font-family: inherit;
  font-size: large;
  font-weight: 700;
  transition: background-color 0.3s ease 0s;
}

.navlink:hover {
  background-color: lightgrey;
}

.active {
  background-color: lightgrey;
}

/* Profile Header*/

.profilepic {
  max-width: 150px;
  max-height: 150px;
  margin: 10px 30px;
  overflow: auto;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

.profileiconlist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.profileicon {
  width: 30px;
  height: 30px;
  fill: darkgrey;
  transition: all 300ms ease;
}

.profileicon:hover {
  fill: skyblue;
}

.profileright {
  padding-left: 0.5rem;
  border-left: 5px solid darkgrey;
}

/* Project List */

.projectcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectentry > * {
  margin: 0.3rem 0;
}

.projectid {
  background-image: linear-gradient(skyblue, skyblue);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 200ms;
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline solid skyblue 3px;
  text-underline-offset: 3px;
}

.projectid:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.stack {
  display: flex;
  flex-direction: row;
}

.lang {
  display: inline-block;
  background: lightgray;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.lang > p {
  font-size: 0.8rem;
}

/* About Me */

.aboutme > * {
  margin: 1rem 0;
}

@media (max-width: 40em) {
  .header {
    flex-direction: column;
  }

  .profileiconlist {
    justify-content: center;
  }

  .profileright {
    border: none;
  }
}
